.about {
    h1 {
        margin: unset;
    }
    margin-top: 2%;
    margin-inline-start: 2%;
    a {
        color: cadetblue;
    }
    ul > li > a{
        position: relative;
        bottom: 3px;
    }

    i{
        color: rgb(10, 102,194);
    }
}