.tag-list {
    display: grid;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 200px));
    gap: 14px 7px;

    @include for-mobile-layout {
        gap: 12px;
    }


    h3 {
        margin: 0;
    }

    .tag-preview-img {
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
        transform: rotate(25deg) translate(18%, 2%);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 100px;
        object-fit: cover;
        opacity: 0.8;
    }

    @include for-mobile-layout {
        grid-template-columns: 0fr 0fr;
        grid-template-rows: 1fr;
    }

    &:hover {
        cursor: pointer;
    }
}